@import "../../../themes/v1/scss/common";

.card {
	height: 300px;
	background: $colour-white;

	&__inner {

	}

	&__header {
		height: em(60);
		padding: 0 em(15);
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	&__heading {
		position: relative;
		top: em(5, 24);
	}

	&__logo {
		height: em(60);
		width: em(60);
		border-radius: em(5);
		align-self: flex-end;
		margin-left: auto;
		overflow: hidden;
		position: relative;
		top: em(-15);

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__body {

	}

}
