@import "../../../themes/v1/scss/common";

.tile {
	width: 100%;
	margin: 0;
	padding: 0;

	h2 {
		margin: 0;
	}

	&--red {
		background: firebrick;
	}

	&--blue {
		background: cadetblue;
	}

	&--green {
		background: palegreen;
	}

	&--yellow {
		background: gold;
	}
}
