@import "../../../themes/v1/scss/common";

.hamburger {
	display: block;
	height: em(60);
	width: em(60);
	margin: 0;
	padding: 0;
	border: 0;

	&:focus {
		outline: 0;
	}

	&__label {
		display: none;
	}
}
